body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.gallery {
    text-align: center;
    margin: 20px 0;
}

.gallery img {
    width: 300px;
    margin: 10px;
    cursor: pointer;
}
#lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

#lightbox.active {
    display: flex; /* Show lightbox when active */
}

#lightbox img {
    max-width: 90%; /* Responsive image */
    max-height: 90%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
